@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Sansita+Swashed:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-image: url(./bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Cabin', sans-serif !important;

}

a{
    color: #fff;
    position: fixed;
    margin-top: 20px;
    top: 90%;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    height: 100vh;
}

.header{
    padding: 100px 20px 30px 20px;
}

.header h1{
    font-size: 50px;
    color: #f5f8fa;
    
}

.header input{
    width: 100%;
    margin-top: 20px;
    padding:15px;
    background: transparent;
    border:0;
    outline: 0;
    border-bottom: 2px solid #f5f8fa;
    text-align: center;
    font-size: 100%;
    color: #ffffff;
}

::placeholder{
    color: #fff;
}

.header input:focus{
    border-bottom: 2px solid #ffffff;
    transform: scale(1.1);
    transition: .8s;
}

.city{
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    margin-top: 10px;
 
}

.temp{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 15px;
    text-shadow: 1px 5px rgba(0,0,0,0.5);
    text-align: center;
}

.desc{
    font-size: 25px;
    font-style: italic;
    text-shadow: 1px 3px rgba(0,0,0,0.8);
    margin-bottom: 10px;
}

.minmax{
    font-size: 24px;
    text-shadow: 1px 3px rgba(0,0,0,0.8);
}

.wind{
    font-size: 24px;
    text-shadow: 1px 3px rgba(0,0,0,0.8);
}
